#root {
  width:100%;
  min-width:500px;
  height:100vh;
  display:flex;
  flex-direction:column;
  background-color:white;
  color:black;
  overflow:hidden;
}

.header, .footer {
  display:flex;
  flex-direction:row;
  width:100%;
  height:10%;
  min-height:50px;
  background-color:white;
}

.header {
  justify-content: space-between;
  align-items: center;

}

.body{
  flex-grow: 1;
  border-top: 4px solid #c8c8c8;
  border-bottom: 4px solid #c8c8c8;
  background-color:#BFE0F4;
  min-height:200px;
  width:100%;
  overflow: auto;
  
}

