#root {
  width:100%;
  min-width:500px;
  height:100vh;
  display:flex;
  flex-direction:column;
  background-color:white;
  color:black;
  overflow:hidden;
}

.header, .footer {
  display:flex;
  flex-direction:row;
  width:100%;
  height:10%;
  border: 2px solid #c8c8c8;
  min-height:50px;
  background-color:white;
}

.body{
  flex-grow: 1;
  border: 2px solid #c8c8c8;
  background-color:#BFE0F4;
  min-height:200px;
  width:100%;
  overflow: auto;
}

